/* fonts import */
/* .inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */


/* shared styles */
.hide {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.heading-black {
    color: rgb(0, 0, 0);
    font-family: Noto Serif;
    font-size: 3.125rem;
    font-weight: 700;

}

.heading-orange {
    color: rgb(233, 90, 8);
    font-family: Noto Serif;
    font-size: 3.125rem;
    font-weight: 700;
}

.p-style {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 400;

}

.small-style {
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.btn {
    width: 100%;
    height: 50px;
    padding: 16px 50px;
    margin: 20px 0px;
    background-color: rgb(233, 90, 8);
    color: rgb(255, 255, 255);
    border: none;
}

/* header styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    display: flex;
    gap: 48px;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul #home {
    color: rgb(37, 36, 50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
}

.nav-links ul #cart {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.mobile-nav {
    visibility: hidden;
}

/* banner styles */
.banner {
    /* border: 1px solid tomato; */
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner-left {
    /* border: 1px solid black; */
    flex: 1;
}

.banner-right {
    /* border: 1px solid black; */
    flex: 1;
}

.banner-left .heading-black,
.banner-left .heading-orange {
    font-size: 4.06rem;
}


/* our plants */
.plant {
    /* border: 1px solid black; */
    text-align: center;
}

.our-plants p {
    margin-bottom: 50px;
    margin-top: 16px;
}

#card-name {
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 15px;
}

#card-cost {
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 700;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    /* border: 1px solid blue; */
}

.card img {
    width: 100%;
}

/* flower & plants lover */
.fp-lover {
    /* border: 1px solid black; */
    margin-top: 200px;
    margin-bottom: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fp-left {
    /* border: 2px solid red; */
    width: 540px;
    height: 597px;
}

.fp-right {
    /* border: 1px solid blue; */
    width: 600px;
    height: 597px;
    padding: 38px 60px;
    padding-right: 0;
}

.fp-right .fp-title {
    /* border: 1px solid violet; */
    margin-bottom: 20px;
}

.fp-right .fp-para {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 400;
}


.fp-right ul {
    list-style-position: outside;
    padding-left: 20px;
    margin: 0;
}

.fp-right li {
    margin-bottom: 20px;
    list-style-type: disc;
}

/* trusted badge */
.trusted-badge {
    /* border: 1px solid black; */
    position: absolute;
    width: 286px;
    height: 286px;
    left: 535px;
    top: 2020px;
    filter: drop-shadow(-4px 10px 2px rgba(0, 0, 0, 0.25));
}









/* media query */

/* for mobile device like iphone 14 & 15 pro */
@media screen and (max-width:440px) {

    /* shared styles */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .heading-black {
        color: rgb(0, 0, 0);
        font-family: Noto Serif;
        font-size: 1.5rem;
        font-weight: 700;

    }

    .heading-orange {
        color: rgb(233, 90, 8);
        font-family: Noto Serif;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .p-style {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .hide-on-mobile {
        display: none;
    }


    /* nav bar */
    .mobile-nav {
        /* border: 1px solid red; */
        visibility: visible;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding: 18px 30px;
        /* box-sizing: border-box; */
    }

    .mobile-time {
        color: #edeff2;
        font-family: Inter;
        font-size: 1.06rem;
        font-weight: 590;
    }

    .mobile-logo {
        display: flex;
        gap: 15px;
    }

    .nav {
        width: 100%;
        height: auto;
        /* margin: 13px 16px 28px; */
        /* border: 1px solid black; */
    }


    /* banner */
    .banner {
        /* border: 1px solid tomato; */
        margin-top: 28px;
        margin-bottom: 65px;
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: center;
        align-items: flex-end; */
        width: 100%;
        height: auto;
    }

    .banner-left .heading-black,
    .banner-left .heading-orange {
        font-family: Noto Serif;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .banner-left h2 {
        margin-top: 28px;
        margin-bottom: 13px;
    }

    /* our plants */
    .our-plants p {
        margin-bottom: 28px;
        margin-top: 16px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #card-name {
        color: rgb(17, 17, 17);
        font-family: Inter;
        font-size: 1rem;
        font-weight: 500;
    }

    #card-cost {
        color: rgb(17, 17, 17);
        font-family: Inter;
        font-size: 1rem;
        font-weight: 700;
    }

    /* flowers & plants */

    .fp-lover {
        /* border: 1px solid black; */
        margin-top: 42px;
        margin-bottom: 145px;
        display: flex;
        flex-direction: column;
    }

    .fp-left {
        /* border: 2px solid red; */
        width: 358px;
        height: 396px;
    }

    .fp-right {
        margin-top: 18px;
        width: 361px;
        height: 234px;
        padding: 0;
    }



}