/* fonts import */
/* .inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */


/* shared styles */
.hide {
    display: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.heading-black {
    color: rgb(0, 0, 0);
    font-family: Noto Serif;
    font-size: 3.125rem;
    font-weight: 700;

}

.heading-orange {
    color: rgb(233, 90, 8);
    font-family: Noto Serif;
    font-size: 3.125rem;
    font-weight: 700;
}

.p-style {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 400;

}

.small-style {
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.btn {
    width: 100%;
    height: 50px;
    padding: 16px 50px;
    margin: 20px 0px;
    background-color: rgb(233, 90, 8);
    color: rgb(255, 255, 255);
    border: none;
}

/* header styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    display: flex;
    gap: 48px;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul #home {
    color: rgb(37, 36, 50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 700;
}

.nav-links ul #cart {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.mobile-nav {
    visibility: hidden;
}

/* banner styles */
.banner {
    /* border: 1px solid tomato; */
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner-left {
    /* border: 1px solid black; */
    flex: 1;
}

.banner-right {
    /* border: 1px solid black; */
    flex: 1;
}

.banner-left .heading-black,
.banner-left .heading-orange {
    font-size: 4.06rem;
}


/* our plants */
.plant {
    /* border: 1px solid black; */
    text-align: center;
}

.our-plants p {
    margin-bottom: 50px;
    margin-top: 16px;
}

#card-name {
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 15px;
}

#card-cost {
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 700;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    /* border: 1px solid blue; */
}

.card img {
    width: 100%;
}

/* flower & plants lover */
.fp-lover {
    /* border: 1px solid black; */
    margin-top: 200px;
    margin-bottom: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fp-left {
    /* border: 2px solid red; */
    width: 540px;
    height: 597px;
}

.fp-right {
    /* border: 1px solid blue; */
    width: 600px;
    height: 597px;
    padding: 38px 60px;
    padding-right: 0;
}

.fp-right h3 {
    /* border: 1px solid violet; */
    margin-bottom: 20px;
}

.fp-right ul {
    list-style-position: outside;
    padding-left: 20px;
    margin: 0;
}

.fp-right li {
    margin-bottom: 20px;
    list-style-type: disc;
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 1.375rem;
    font-weight: 400;
}

/* trusted badge */
.trusted-badge {
    /* border: 1px solid black; */
    position: absolute;
    width: 286px;
    height: 286px;
    left: 535px;
    top: 2020px;
    filter: drop-shadow(-4px 10px 2px rgba(0, 0, 0, 0.25));
}

/* latest details */
.latest-deatails {
    text-align: center;
}

.ld-up {
    margin-bottom: 120px;
}

.ld-up h3 {
    margin-bottom: 16px;
}

.ld-down {
    display: grid;
    gap: 28px;
    grid-template-columns: 385px 727px;
    height: 430px;
    /* border: 1px solid black; */

}

.item-1,
.item-2,
.item-3 {
    /* border: 1px solid tomato; */
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.item-1 {
    /* grid-column: 1;  */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/deal-bloom.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.item-2 {
    grid-row: span 2;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/deal-zabo.png");

    background-repeat: no-repeat;
    background-size: cover;
    /* grid-column: 2; */
    /* width: 720px;
    height: 420px; */
}

.item-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/deal-ana.png");
    background-repeat: no-repeat;
    background-size: cover;


    /* width: 400px;
    height: 200px; */
}

.item-1 h4,
.item-3 h4 {
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 1.25rem;
    font-weight: 700;
}

.item-1 u,
.item-3 u {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    text-underline-offset: 4px;
}

.item-2 h4 {
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 2.75rem;
    font-weight: 700;
}

.item-2 u {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 600;
    text-underline-offset: 6px;
}









/* media query */

/* for mobile device like iphone 14 & 15 pro */
@media screen and (max-width:440px) {

    /* shared styles */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }

    .container {
        width: 100%;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .heading-black {
        color: rgb(0, 0, 0);
        font-family: Noto Serif;
        font-size: 1.5rem;
        font-weight: 700;

    }

    .heading-orange {
        color: rgb(233, 90, 8);
        font-family: Noto Serif;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .p-style {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 0.875rem;
        font-weight: 400;
    }

    .hide-on-mobile {
        display: none;
    }


    /* nav bar */
    .mobile-nav {
        /* border: 1px solid red; */
        visibility: visible;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding: 18px 30px;
        /* box-sizing: border-box; */
    }

    .mobile-time {
        color: #edeff2;
        font-family: Inter;
        font-size: 1.06rem;
        font-weight: 590;
    }

    .mobile-logo {
        display: flex;
        gap: 15px;
    }

    .nav {
        width: 100%;
        height: auto;
        /* margin: 13px 16px 28px; */
        /* border: 1px solid black; */
    }


    /* banner */
    .banner {
        /* border: 1px solid tomato; */
        margin-top: 28px;
        margin-bottom: 65px;
        display: flex;
        flex-direction: column-reverse;
        /* justify-content: center;
        align-items: flex-end; */
        width: 100%;
        height: auto;
    }

    .banner-left .heading-black,
    .banner-left .heading-orange {
        font-family: Noto Serif;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .banner-left h2 {
        margin-top: 28px;
        margin-bottom: 13px;
    }

    /* our plants */
    .our-plants p {
        margin-bottom: 28px;
        margin-top: 16px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #card-name {
        color: rgb(17, 17, 17);
        font-family: Inter;
        font-size: 1rem;
        font-weight: 500;
    }

    #card-cost {
        color: rgb(17, 17, 17);
        font-family: Inter;
        font-size: 1rem;
        font-weight: 700;
    }

    /* flowers & plants */

    .fp-lover {
        /* border: 1px solid black; */
        margin-top: 42px;
        margin-bottom: 145px;
        display: flex;
        flex-direction: column;
    }

    .fp-left {
        /* border: 2px solid red; */
        width: 100%;
        height: auto;
        /* padding: 10px; */
    }

    .fp-right {
        margin-top: 18px;
        width: 100%;
        height: auto;
        padding: 0;
    }

    .fp-right h3 {
        /* border: 1px solid violet; */
        margin-bottom: 16px;
    }

    .fp-right ul {
        list-style-position: outside;
        padding-left: 20px;
        margin: 0;
    }

    .fp-right li {
        margin-bottom: 16px;
        list-style-type: disc;
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter;
        font-size: 0.875rem;
        font-weight: 400;
    }

    /* latest details */
    .latest-deatails {
        text-align: center;
    }

    .ld-up {
        margin-bottom: 47px;
    }

    .ld-up h3 {
        margin-bottom: 16px;
    }

    .ld-down {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 640px;
        /* border: 1px solid black; */

    }

    .item-1,
    .item-2,
    .item-3 {
        /* border: 1px solid tomato; */
        /* border-radius: 12px; */
        /* width:100%;
    height: auto; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius:0;
    }

    .item-1 {
        /* grid-column: 1;  */
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/deal-bloom.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        border-radius: 12px;

    }

    .item-2 {
        /* grid-row: span 2; */
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/deal-ana.png");

        background-repeat: no-repeat;
        background-size: cover;
        /* grid-column: 2; */
        /* width: 720px;*/
        height: 200px;
    }

    .item-3 {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/deal-zabo.png");
        background-repeat: no-repeat;
        background-size: cover;
        /* width: 400px;*/
        height: 200px;
        border-radius: 12px;
    }

    .item-1 h4,
    .item-2 h4,
    .item-3 h4 {
        color: rgb(255, 255, 255);
        font-family: Noto Serif;
        font-size: 1.25rem;
        font-weight: 700;
    }

    .item-1 u,
    .item-2 u,
    .item-3 u {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 1rem;
        font-weight: 600;
    }




}